[tool.poetry]
name = "secrets.env"
version = "0.7.3"
description = "Put secrets from Vault to environment variables"
authors = ["tzing <tzingshih@gmail.com>"]
license = "MIT"
readme = "Readme.md"
repository = "https://github.com/tzing/secrets.env"
keywords = ["vault", "environment variables"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Security",
    "Topic :: Utilities",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/tzing/secrets.env/issues"

[tool.poetry.dependencies]
python = "^3.7"
hvac = "^0.11.2"
requests = "^2.21.0"
keyring = "^23.3.0"
tomli = {version = ">=1.1.0,<3", python = "<3.11", optional = true}
PyYAML = {version = ">=5.1.2,<7", optional = true}
click = {version = "^8.1.3", optional = true}

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
flake8-black = "^0.3.3"
flake8-isort = "^4.2.0"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
flake8-pytest-style = "^1.6.0"
responses = "^0.21.0"
poetry = "^1.2.0b1"

[tool.poetry.extras]
toml = ["tomli"]
yaml = ["PyYAML"]

[tool.poetry.plugins."poetry.application.plugin"]
poetry-secrets-env-plugin = "secrets_env.poetry:SecretsEnvPlugin"

[tool.poetry_bumpversion.file."secrets_env/__init__.py"]
# no content

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = "--cov=secrets_env --cov-report=term-missing"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "if typing.TYPE_CHECKING",
]
