<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OIDC Authentication Success</title>

    <style>
        html {
            max-width: 70ch;
            padding: 3em 1em;
            margin: auto;
            line-height: 1.75;
            font-size: 1.25em;
            font-family: sans-serif;
            color: #1d1d1d;
        }

        svg {
            margin: auto;
            display: block;
        }

    </style>

</head>

<body>
    <svg width="7ch" height="7ch" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48">
        <circle fill="#4CAF50" cx="24" cy="24" r="21" />
        <polygon fill="#CCFF90" points="34.6,14.6 21,28.2 15.4,22.6 12.6,25.4 21,33.8 37.4,17.4" />
    </svg>

    <h1>Done!</h1>
    <p>OIDC Authentication successful, you can close the browser now.</p>

</body>

</html>
